---
import BaseLayout from "../../layouts/BaseLayout.astro";
import TagPost from "../../components/TagPost.astro";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../posts/*.md");

  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.frontmatter.tags.includes(tag)
    );
    return {
      params: { tag },
      props: {
        posts: filteredPosts.map((post) => ({
          ...post,
          image: post.frontmatter.image,
        })),
      },
    };
  });
}

const { tag } = Astro.params;
const { posts} = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <h2>Apuntes Taggeados con <span class="text-sky-800 uppercase ">"{tag}"</span></h2>
    <ul class="flex gap-2  justify-center ">
      {
        posts.map((post) => (
          <TagPost url={post.url} title={post.frontmatter.title}  image={post.image.url} alt={post.image.alt}/>
        ))
      }
    </ul>
</BaseLayout>
