---
import BaseLayout from '../../layouts/BaseLayout.astro';
import TagPost from '../../components/TagPost.astro';

export async function getStaticPaths() {
  const blogPosts = await Astro.glob('../posts/*.md');
  const careerPosts = await Astro.glob('../../pages/posts/career/*.md');

  const allPosts = [...blogPosts, ...careerPosts];
  const allTags = new Set(allPosts.flatMap((post) => post.frontmatter.tags));

  const blogTags = Array.from(allTags).filter((tag) => blogPosts.some((post) => post.frontmatter.tags.includes(tag)));

  return blogTags.map((tag) => {
    const filteredBlogPosts = blogPosts.filter((post) => post.frontmatter.tags.includes(tag));
    const filteredCareerPosts = careerPosts.filter((post) => post.frontmatter.tags.includes(tag));

    const combinedPosts = [...filteredBlogPosts, ...filteredCareerPosts];

    return {
      params: { tag },
      props: {
        posts: combinedPosts.map((post) => ({
          ...post,
          image: post.frontmatter.image,
        })),
      },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle=`UTN Curso de Ingreso - ${tag}`>
  <h2>Apuntes Taggeados con <span class="text-sky-800 uppercase">"{tag}"</span></h2>
  <ul class="flex gap-2 justify-center">
    {posts.map((post) => <TagPost url={post.url} title={post.frontmatter.title} image={post.image.url} alt={post.image.alt} />)}
  </ul>
</BaseLayout>
