---
import BaseLayout from '../layouts/BaseLayout.astro';
import AdmissionPost from '../components/AdmissionPost.astro';

const allPosts = await Astro.glob('./admission/*.md');

const pageTitle = 'Curso De ingreso';
---

<BaseLayout pageTitle=`UTN Curso de Ingreso - ${pageTitle}`>
  <div class="flex flex-col justify-center container mx-auto">
    <h2 class="text-center uppercase">{pageTitle}</h2>
    <ul class="flex justify-center gap-2 flex-wrap">
      {allPosts.map((post) => <AdmissionPost url={post.url} tag={post.frontmatter.image.url} alt={post.frontmatter.image.alt} />)}
    </ul>
  </div>
</BaseLayout>
