---
import BaseLayout from '../layouts/BaseLayout.astro';
import CardPostImage from '../components/CardPostImage.astro';

const allPosts = await Astro.glob('./admission/*.mdx');
const pageTitle = 'Curso De ingreso';
---

<!-- Este BaseLayout solo afecta a los titulos de Admisiones TODO: Unir tanto el componente de admision con el de career  -->

<BaseLayout pageTitle=`${pageTitle}`>
  <div class="flex flex-col justify-center container mx-auto">
    <ul class="flex justify-center gap-2 flex-wrap">
      {allPosts.map((post) => <CardPostImage url={post.url} tag={post.frontmatter.image.url} alt={post.frontmatter.image.alt} transition:name={post.frontmatter.image.alt} transition:animate="slide"/>
      )}
    </ul>
  </div>
</BaseLayout>
