---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = 'Apuntes';
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-col justify-center container mx-auto">
    <h2 class="text-center uppercase">{pageTitle}</h2>
    <ul class="flex justify-center gap-2 flex-wrap">
      {
        allPosts.map((post) => (
          <BlogPost
            url={post.url}
            tag={post.frontmatter.image.url}
            alt={post.frontmatter.image.alt}
          />
        ))
      }
    </ul>
  </div>
</BaseLayout>
