---
import BaseLayout from '../layouts/BaseLayout.astro';
import CardPostImage from '../components/CardPostImage.astro';
import { getCollection } from 'astro:content';

const careerEntries = await getCollection('career');

careerEntries.sort((a, b) => (a.data.order || 0) - (b.data.order || 0));

const sectionTitles = [
  { title: 'Curso de ingreso', minOrder: 0, maxOrder: 2 },
  { title: 'Primer cuatrimestre', minOrder: 3, maxOrder: 6 },
  { title: 'Segundo cuatrimestre', minOrder: 7, maxOrder: 10 },
];
---

<BaseLayout title="Carrera">
  <div class="flex flex-col justify-center items-center container mx-auto max-w-3xl text-center">
    {
      sectionTitles.map(({ title, minOrder, maxOrder }) => {
        const sectionEntries = careerEntries.filter(({ data }) => data.order >= minOrder && data.order <= maxOrder);

        if (sectionEntries.length === 0) return null;

        return (
          <>
            <h2 class="w-full text-center text-2xl font-bold">{title}</h2>
            <ul class="flex justify-center gap-2 flex-wrap">
              {sectionEntries.map(({ data, slug }, index) => {
                const { image } = data || {};
                const imageUrl = image?.url || '';
                const imageAlt = image?.alt || 'Imagen sin descripción';

                return (
                  <CardPostImage
                    url={`/career/${slug}`}
                    tag={imageUrl}
                    alt={imageAlt}
                    decoding="async"
                    transition:name={imageUrl}
                    loading={index < 3 ? 'eager' : 'lazy'}
                  />
                );
              })}
            </ul>
          </>
        );
      })
    }
  </div>
</BaseLayout>
