---
import CorrelativitiesTable from '@/components/CorrelativitiesTable.astro';
import ProgressSection from '@/components/ProgressSection.astro';
import { subjects } from '@/data/correlativity';
import BaseLayout from '@/layouts/BaseLayout.astro';

// Forzamos que TODO arranque como NO aprobado
const subjectsInitial = subjects.map((subject) => ({
  ...subject,
  isPassed: false,
}));

const title = 'Correlatividades de la Tecnicatura en Programación - UTN 2025';
const subTitle = 'Correlatividades';
const hasSubjects = subjectsInitial.length > 0;
---

<BaseLayout
  title={title}
  subTitle={subTitle}
  description="Correlatividades de la Tecnicatura en Programación - UTN 2025"
>
  {
    hasSubjects ? (
      <div class="space-y-8 px-4 md:px-0">
        <ProgressSection subjects={subjectsInitial} />
        <CorrelativitiesTable subjects={subjectsInitial} />

        <!-- Datos para el script del cliente -->
        <script
          is:inline
          type="application/json"
          id="correlativity-data"
          set:html={JSON.stringify(subjectsInitial)}
        />

        <!-- Lógica interactiva -->
        <script src="../scripts/correlativity.ts"></script>
      </div>
    ) : (
      <p class="text-center text-lg font-semibold py-8">
        Todavía no hay materias cargadas para mostrar correlatividades.
      </p>
    )
  }
</BaseLayout>
