---
const { url, tag, alt } = Astro.props;
import { Image } from 'astro:assets';
---

<li>
  <a href={url} title={`Ver ${alt}`} transition:name={tag} class="transition">
    <Image src={tag} alt={alt} decoding="async" width={175} height={175} densities={[1.5, 2]} class="max-w-44 my-1" />
  </a>
</li>
