---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
const { platform, icon, alt } = Astro.props;
import Prose from '../components/Prose.astro';
import { Image } from 'astro:assets';
---

<BaseLayout pageTitle=`${frontmatter.title}`>
  <div class="flex justify-around border-b-2 mb-8">
    <Image src={frontmatter.image.url} width={175} height={75} class="m-2 w-36 md:w-52" alt={frontmatter.image.alt} />
    <div class="flex flex-col justify-around p-4 md:items-center">
      <div class="flex flex-col gap-2">
        <div class="flex md:gap-8 justify-around">
          <p class="font-semibold text-xs md:text-base px-2 text-black text-center shadow-md">
            Cursada:
            <span class="block uppercase">
              {frontmatter.totalTimeClass} hs
            </span>
          </p>
          <p class="font-semibold text-xs md:text-base px-2 text-black text-center shadow-md">
            Examen: <span class="block uppercase">{frontmatter.totalExam} hs</span>
          </p>
        </div>
        <p class="font-semibold text-xs md:text-base text-black text-center shadow-md">
          Total: <span class="block uppercase">{frontmatter.totalTime} hs</span>
        </p>
      </div>

      <div>
        <p class="max-w-40 md:max-w-80"><em>{frontmatter.description}</em></p>
      </div>

      {
        frontmatter.professor && (
          <div>
            <p class="text-bold">profesor/a: {frontmatter.professor}</p>
          </div>
        )
      }

      {
        frontmatter.downloadUrl && (
          <div class="flex hover:bg-blue-100 text-center">
            <a
              href={frontmatter.downloadUrl}
              download={`${frontmatter.title.replace(/ /g, '_')}.pdf`}
              class="bg-black hover:bg-zinc-800 text-white hover:text-zinc-200 p-2"
            >
              Descargar {frontmatter.title}
            </a>
          </div>
        )
      }
    </div>
  </div>
  <div class="flex-col md:p-2 md:max-w-3xl mx-auto gap-4">
    <div class="flex gap-4">
      <p class="font-bold">{frontmatter.pubDate.slice(0, 10)}</p>
      <p class="font-light">Escrito por: {frontmatter.author}</p>
    </div>

    <div class="p-2">
      <Prose>
        <slot />
      </Prose>
    </div>
    <ul class="flex flex-wrap gap-3 items-center justify-center text-center pt-4">
      {
        frontmatter.tags.map((tag) => (
          <li class="px-4 py-2 text-lg font-bold uppercase  text-white bg-black rounded-full shadow-md hover:bg-gray-800 hover:scale-105 transition-transform">
            <a href={`/tags/${tag}`} title={`Ver todos los contenidos con el tag ${tag}`} aria-label={tag}>{tag}</a>            
          </li>
        ))
      }

    </ul>
  </div>
</BaseLayout>
