---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
import Prose from "../components/Prose.astro";
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="flex  justify-center items-center rounded-md shadow-md mb-4 ">
    <div class="flex flex-col justify-around items-center p-4">
      <img
        src={frontmatter.image.url}
        class="m-2 h-72"
        alt={frontmatter.image.alt}
      />
    </div>
    <div class="flex flex-col gap-8 items-center ">
      <div class="flex flex-row gap-2">
          <p class="font-semibold  text-black p-2 text-center rounded-md shadow-md ">Cursada: <span class=" text-sm uppercase">{frontmatter.totalTimeClass} hs</span></p>
          <p class="font-semibold  text-black p-2 text-center rounded-md shadow-md ">Examen:  <span class="text-sm uppercase">{frontmatter.totalExam} hs</span></p>
        <p class="font-semibold  text-black p-2 text-center rounded-md shadow-md ">Total: <span class="text-sm uppercase">{frontmatter.totalTime} hs</span></p>
      </div>
      <p class="w-80"><em>{frontmatter.description}</em></p>
      <div
        class="text-center bg-blue-500 max-w-40 md:max-w-48 hover:bg-blue-100"
      >
        <a
          href={frontmatter.downloadUrl}
          download="PlanDeEstudio.pdf"
          class="text-white hover:text-black font-bold rounded"
        >
          Descargar {frontmatter.title}
        </a>
      </div>
      
    </div>
  </div>
  <div class="flex gap-4 flex-row">
    <p class="font-bold">{frontmatter.pubDate.slice(0, 10)}</p> 
    <p class=" font-light">Escrito por: {frontmatter.author}</p>

  </div>

  <div class="p-2">
    <Prose>
      <slot />
    </Prose>
  </div>
  <ul class="tags">
    {
      frontmatter.tags.map((tag) => (
        <li class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>



<style>
  .tags a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
