---
import { getCollection, render } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import Prose from '../../components/Prose.astro';

export async function getStaticPaths() {
  const career = await getCollection('career');

  return career.map((career) => ({
    params: { id: career.slug },
    props: { career },
  }));
}

const { career } = Astro.props;
const { data } = career;
const { image, title, totalTimeClass, totalExam, totalTime, professor, downloadUrl, pubDate, author, tags } = data;

const { Content } = await render(career);

export const prerender = true;

function addSpaceBeforeSecondUpperCase(str: string) {
  return str.replace(/(?!^)([A-Z])/g, ' $1').trim();
}
---

<BaseLayout title={`Apunte de  ${addSpaceBeforeSecondUpperCase(title)}`} subTitle={title}>
  <a href="/career" class="hover:underline opacity-75">← Volver atrás</a>

  <div class="flex justify-around my-10 max-w-lg">
    <div class="max-w-56  p-2">
      {
        image && image.url && image.alt && (
          <Image
            src={image.url}
            width={240}
            height={100}
            decoding="async"
            class="rounded-lg"
            alt={image.alt}
            title={`Imagen de ${title}`}
            transition:name={image.url}
          />
        )
      }
    </div>

    <div class="flex flex-col justify-around px-3 md:px-4 md:items-center">
      <div class="flex flex-col gap-2">
        <div class="flex md:gap-8 justify-around">
          <p class="font-semibold text-xs md:text-base px-2 text-black text-center">
            Cursada:
            <span class="block uppercase">{totalTimeClass} hs</span>
          </p>
          <p class="font-semibold text-xs md:text-base px-2 text-black text-center">
            Examen: <span class="block uppercase">{totalExam} hs</span>
          </p>
        </div>
        <p class="font-semibold text-xs md:text-base text-black text-center">
          Total: <span class="block uppercase">{totalTime} hs</span>
        </p>
      </div>

      <div>
        <p class="text-center">Profesor/a:</p>
        <div class="relative inline-block">
          <span class="absolute -inset-x-1 -inset-y-0.5 rounded-sm bg-green-200 rotate-1 -skew-y-3 -z-10"></span>
          <p class="font-bold relative">{professor || 'Anónimo'}</p>
        </div>
      </div>

      {
        downloadUrl && (
          <div class="flex hover:bg-blue-100 justify-center text-center ">
            <a
              href={downloadUrl}
              download={`${title.replace(/ /g, '_')}.pdf`}
              class="bg-black hover:bg-zinc-800 text-white hover:text-zinc-200 max-w-40 md:max-w-max p-2"
            >
              Descargar Apunte de {title}
            </a>
          </div>
        )
      }
    </div>
  </div>

  <div class="flex-col p-4 md:p-0 md:max-w-3xl mx-auto gap-4">
    <div class="flex gap-4">
      <p class="font-bold">
        {new Date(pubDate).toLocaleDateString('es-AR')}
      </p>
      <p class="font-light">Escrito por: {author}</p>
    </div>
    <Prose>
      <Content />
    </Prose>

    <ul class="flex flex-wrap gap-3 items-center justify-center text-center pt-4">
      {
        tags.map((tag) => (
          <li class="px-4 py-2 text-lg font-bold uppercase text-white bg-black rounded-full  hover:bg-gray-800 hover:scale-105 transition-transform">
            <a href={`/tags/${tag}`} title={`Ver todos los contenidos con el tag ${tag}`} aria-label={tag}>
              {addSpaceBeforeSecondUpperCase(tag)}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
